<p id="notice"><%= notice %></p>

<p>
  <strong>Shortcut:</strong>
  <%= @quest.shortcut %>
</p>

<p>
  <strong>Name:</strong>
  <%= @quest.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @quest.link %>
</p>

<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
